html, body{
  height: 100%;
  overflow: hidden;

}

#articlesDiv{
  height: 10%;
}

#articleCol{
  overflow-y: scroll;
  height: 100vh;
}

#commentCol{
  overflow-y: auto;
  height: 100%;
}

/*Highlight article when selected*/
.selected{
  background-color: #dcedf4;
}

.article {
  margin: 10px 0 10px 0;
}

.float-left {
  float:left;
}
